@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-side {
  background-image: url(./img/pexels-aleksandar-pasaric-2603464.jpg);
  background-size: contain;
  width: 40vw;
  border: 1px solid black;
}

.left-side-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
  background-color: rgba(0, 0, 0, 0.6);
  height: 12rem;
  background-image: url(./img/odin-lined.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.logo-text {
  color: #f2e9e4;
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  margin-left: 20rem;
}
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  background-color: #000204;
}

.greeting-container {
  display: flex;
  align-items: center;
  height: 35vh;
  color: #f2e9e4;
}
.greeting-text {
  padding: 3rem;
}

form {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  height: 30vh;
  color: #f2e9e4;
  background-color: #02050a;
}
form input {
  border-radius: 6px;
  width: 13rem;
  height: 1.2rem;
}

.first-name,
.email,
.password {
  grid-column-start: 1;
}

.last-name,
.phone-number,
.confirm-password {
  align-self: end;

  grid-column-start: 2;
}
.first-name,
.last-name {
  align-self: end;

  grid-row-start: 1;
}
#first-name,
#last-name {
  align-self: start;
  grid-row-start: 2;
}

.email,
.phone-number {
  align-self: end;
  grid-row-start: 3;
}

#email,
#phone-number {
  align-self: start;
  grid-row-start: 4;
}

.password,
.confirm-password {
  align-self: end;
  grid-row-start: 5;
}
#password,
#confirm-password {
  align-self: start;
  grid-row-start: 6;
}

.login {
  display: flex;
  flex-direction: column;
  height: 35vh;
  color: #f2e9e4;
}
button {
  cursor: pointer;
  margin: 3rem;
  width: 15rem;
  font-size: medium;
  padding: 10px 10px;
  color: #f2e9e4;
  background-color: #333946;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: #333946;
  font-weight: bold;
}

.login-text {
  margin: 0 3rem;
}
